// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-750: #777777 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

$primary: #fed136 !default;


/* COLORS */
$white: #fafafa;
$white-hover: #e9e9e9;
$black: #111;
$gray-background: #d9d9d970;
$light-box-shadow: rgba(10, 10, 10, 0.2);


/*Gradients*/
$gradient: linear-gradient(141deg, #3690ff 0%, #8383ff 100%);
$background-gradient: linear-gradient(to right, rgb(82, 71, 99) 0%, rgb(55, 49, 66) 100%);

/*SHADOWS*/
$box-shadow: 1.5px 1.5px 7px $light-box-shadow;

/*BOX MODEL*/
$border-radius: 3px;
$border-radius--portfolio-item: $border-radius $border-radius 0px 0px;


/*FONTS*/
$title-font: 'Roboto', sans-serif;
$body-font: 'Open Sans', sans-serif;

/*POLYGON*/
$main-img-slant: polygon(0% 0%, 100% 0, 100% 91%, 0 100%);