header.masthead {
  &::after {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/storm-trooper.jpg');
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center -58px;
  }
}

.fixed-top {
  z-index: 3;
}

.modal {
  z-index: 4;
}

.modal-backdrop.fade.show {
  z-index: 3;
}


.lightbox--1ffc {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  z-index: 4;
	align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,.8);
  display: none;
  &.flex {
    display: flex;
  }
  video {
    width: 50vw;
  }
}